body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-manrope: Manrope;
  --font-advent-pro: "Advent Pro";

  /* Colors */
  --color-darkolivegreen: #30562f;
  --green: #79caa1;

  /* border radiuses */
  --br-xs: 12px;
}
